$glow-color: rgb(0, 177, 184);
$hover-color: rgb(255, 251, 4);

$font-glow: drop-shadow(0px 0px 10px $glow-color);
$text-color: rgb(165, 165, 165);
$space-between: 1em;
$divider-color: rgb(161, 161, 161);
$bgcolor: rgb(0, 17, 13);



* {
    margin: 0;
}


body {
    font-family: 'Reenie Beanie', cursive;
    overflow-x: hidden;
    background-color: $bgcolor;
    color: $text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: $font-glow;
    height: 100%;
    margin: auto;
}

.imgList {
    width: 40%;
    height: auto;
    // overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.imgList p {
    font-size: 1.3em;
}

.inputList {
    flex-direction: column;
    text-align: center;
    margin: 6em 0 2em 0;
    background-color: rgba(129, 129, 129, 0.403);
    padding: 2em;
    border-radius: 20px;
}

.inputList input,
#secret {
    margin-bottom: 1em;
    border-radius: 5px;
    border-style: none;
    padding: 0.5em;
    font-size: 1.2em;
    background-color: rgba(250, 250, 250, 0.486);
}

img {
    margin: 1em 0 1em 0;
    height: auto;
    width: 100%;
    border-radius: 20px;
}

img:hover {
    cursor: pointer;
}

h1 {
    font-size: 4em;
    margin: 1em 0 1em 0;
}


button {
    margin: 1em;
    background-color: rgba(129, 129, 129, 0);
    color: white;
    border: 2px solid $glow-color;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2em;
    border-radius: 10px;
    filter: $font-glow;
    cursor: pointer;
}

button:hover {
    border: 2px solid $hover-color;
    filter: drop-shadow(0px 0px 10px $hover-color);
    color: $hover-color;
    transform: scale(1.03) perspective(0.5px);
}

p {
    text-align: center;
    color: white;
    font-size: 3em;
}

.wrongSecret,
.usedSecret,
.response,
.responseFailed {
    width: 50%;
    background-color: rgba(250, 250, 250, 0.099);
    padding: 2em 0 2em 0;
    border-radius: 20px;
}

label {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

@media screen and (max-width: 1000px) {
    .imgList {
        width: 65%;
    }
}

@media screen and (max-width: 500px) {
    .imgList {
        width: 90%;
    }
}