<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMOTIONAL EMAGE - NFT</title>
    <link rel="stylesheet" href="./css/output.css">
    <link rel="stylesheet" href="./css/animation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="fog_animation.css"> -->
</head>

<body>

    <div class="fogbg">
        <div id="foglayer_01" class="fog">
            <div class="image01"></div>
            <div class="image02"></div>
        </div>
        <div id="foglayer_02" class="fog">
            <div class="image01"></div>
            <div class="image02"></div>
        </div>
        <div id="foglayer_03" class="fog">
            <div class="image01"></div>
            <div class="image02"></div>
        </div>
    </div>


    <nav class="menu">
        <div class="section-1">
            <a href="">IEP01</a>
            <a href="">COMET</a>
            <a href="">PAPYRUS</a>
        </div>
        <div class="section-2">

            <h1>IMOTIONAL <br>
                <div id="reverse">E</div>MAGE
            </h1>

        </div>
        <div class="section-3">
            <a href="">TEAM</a>
            <a href="">BONFIRE</a>
            <a href="">PARTY</a>
        </div>
    </nav>

    <div class="slogan">
        <h2>OUR LIFE IS A MYSTERY <br> YOUR HEART <br> BECOME REALITY</h2>
    </div>

    <div class="divider-animated">
        <hr>
        <img src="./images/firefly.png" width="100px" height="80px">

    </div>

    <article class="project">
        <div class="project-text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta eos modi voluptas a quam error porro.
                Dolore, repudiandae sed. Quos velit exercitationem numquam deserunt architecto rem expedita a quisquam
                error! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, tenetur accusantium! Possimus
                iusto commodi dicta praesentium delectus numquam quod eaque eligendi, et error culpa eius velit quisquam
                cum obcaecati beatae.</p>
        </div>
        <div class="project-visual">
            <h2>Section2</h2>
            <h2>Section1</h2>
            <h2>Section3</h2>
            <img src="./images/triangle.svg" alt="">
        </div>
    </article>

    <article class="gallery-section">
        <h1>COLLECTION</h1>
        <div class="gallery">
            <div class="collection">
                <img src="./images/nft.jpg" alt="">
                <img src="./images/nft.jpg" alt="">
                <img src="./images/nft.jpg" alt="">
                <img src="./images/nft.jpg" alt="">
                <img src="./images/nft.jpg" alt="">
                <img src="./images/nft.jpg" alt="">
                <img src="./images/nft.jpg" alt="">
                <img src="./images/nft.jpg" alt="">
                <img src="./images/nft.jpg" alt="">
                <img src="./images/nft.jpg" alt="">
            </div>

            <div class="gallery-text">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore suscipit modi vitae accusantium!
                    Temporibus esse provident debitis reiciendis doloremque nesciunt optio repellendus quod rem
                    quibusdam
                    blanditiis, illum fugit, eveniet quos.</p>
            </div>
        </div>
    </article>

    <article class="project">
        <div class="project-text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta eos modi voluptas a quam error porro.
                Dolore, repudiandae sed. Quos velit exercitationem numquam deserunt architecto rem expedita a quisquam
                error! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, tenetur accusantium! Possimus
                iusto commodi dicta praesentium delectus numquam quod eaque eligendi, et error culpa eius velit quisquam
                cum obcaecati beatae.</p>
        </div>
        <div class="project-visual">
            <h2>Section2</h2>
            <h2>Section1</h2>
            <h2>Section3</h2>
            <img src="./images/triangle.svg" alt="">
        </div>
    </article>

</body>

</html>